html, body {
    margin: 0;
    padding: 0;
    background-color: #020314;
    height: 100%;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #E39E52;
    font-family: 'Sacramento';
    font-size: 2.6em;
    cursor: pointer;
    /* text-shadow: 4px 4px 4px #fff; */
}

h2 {
    color: #D78E8B;
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    
}

h3 {
    color: #cfa5a4;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

header > ul, header > li{
    margin: 0;
    padding: 0;
}

.nav {
    color: #F8C8C6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4em;
    margin-top: -0.8em;
    font-family: 'Unica One', cursive;
    position: relative;
}

.active {
    color:#D78E8B;
}

.nav li  {
    list-style: none;
}

.dropdown-menu > li {
    margin: 0;
    padding: 0;
    position: absolute;
}

.menu-item {
    padding: 0 12px 0 12px;
    margin: 0;
    perspective: 1000px;
    position: relative;
    z-index: 100;
}

.menu-item:hover, .dropdown-item:hover, .menu-item:hover a {
    color: #FFF6EC ;
    cursor: pointer;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.menu-item:hover .dropdown-menu {
    cursor: pointer;
    display: block;
}

.dropdown-menu {
    display: none;
    position: relative;
}

.dropdown-menu a {
    float: none;
    display: block;
    text-decoration: none;
    color: #F8C8C6;
    position: relative;
}

.nav li a {
    text-decoration: none;
    color: #F8C8C6;
}

.fade-animation {
    opacity: 1;
    animation: fadeIn 1s linear;
}

@keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

.main-section {
    width: 60vw;
    background-color: #3E3E58;
    margin-top: 2em;
    margin-bottom: 4em;
    color: #FFF6EC;
    text-align: left;
    padding: 10px 5% 10px 5%;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}